Cv {
width: 100%;
height: 100%;
margin: auto;
background: linear-gradient(to bottom right, #19194d, #99ff99);
background-attachment: fixed;
}

* {
font-family: "Raleway", sans-serif;
}

Personne {
display: block;
width: 75%;
height: 70%;
margin: auto;
}

/*Personne:after {
content: " (" attr(sexe) ")";
}*/

section:nth-child(2) identite {
display: block;
margin: 0 0 2% 15%;
padding: 3% 0 0 0;
color: white;
}

section:nth-child(3) identite {
display: block;
margin: 0 0 2% 8%;
padding: 2% 0 0 0;
color: white;
}

section {
display: block;
width: 30%;
height: 30%;
}

section:nth-child(1) {
width: 75%;
margin: auto;
}

Personne section:nth-child(1) {
background: linear-gradient(to bottom right, #19194d, #ffcc66);
border-radius: 15px 50px 30px;
height: 20%;
}

experience section:nth-child(1) {
background: linear-gradient(to bottom right, #19194d, #ffcc66);
border-radius: 15px 50px 30px;
height: 20%;
margin: auto;
}

formation section:nth-child(1) {
background: linear-gradient(to bottom right, #19194d, #ffcc66);
border-radius: 15px 50px 30px;
height: 20%;
margin: auto;
}

competence section:nth-child(1) {
background: linear-gradient(to bottom right, #19194d, #ffcc66);
border-radius: 15px 50px 30px;
height: 20%;
margin: auto;
}

divers section:nth-child(1) {
background: linear-gradient(to bottom right, #19194d, #ffcc66);
border-radius: 15px 50px 30px;
height: 20%;
margin: auto;
}

experience poste:nth-child(2) {
font-weight: 600;
color: white;
display: block;
margin: 10% 0 5% 0;
}

experience poste:nth-child(3) {
font-weight: 600;
color: white;
display: block;
margin: 5% 0 5% 0;
}

experience poste:nth-child(4) {
font-weight: 600;
color: white;
display: block;
margin: 5% 0 5% 0;
}

section:nth-child(2) {
margin: 5% 0 0 5%;
background: linear-gradient(to bottom right, #ffcc66, #19194d);
width: 20%;
border-radius: 50px 15px;
}

section:nth-child(3) {
margin: 0 0 0 0;
background: linear-gradient(to bottom right, #ffcc66, #19194d);
width: 40%;
float: right;
border-radius: 50px 15px;
}


Personne section p:nth-child(1) {
font-size: 40px;
color: white;
}

experience section p:nth-child(1) {
font-size: 40px;
color: white;
}

experience {
display: block;
width: 75%;
height: 70%;
margin: auto;
margin-top: 5%;
}

experience date {
color: white;
font-weight: bold;
background: linear-gradient(to bottom right, #19194d, #ffcc66);
}

entreprise {
margin: 0 0 0 10%;
}

experience lieu {
margin: 0 0 0 5%;
}

descriptif {
margin: 0 0 0 5%;
}

formation {
display: block;
width: 75%;
height: 70%;
margin: auto;
}

formation section p:nth-child(1) {
font-size: 40px;
color: white;
}

formation date {
width: 11%;
display: inline-block;
margin: 10% 0 5% 0;
color: white;
font-weight: bold;
background: linear-gradient(to bottom right, #19194d, #ffcc66);
}

intitule {
color: white;
font-weight: 600;
margin: 0 0 5% 10%;
}

organisme {
display: block;
color: white;
font-weight: 600;
margin: 0 0 5% 30%;
}

formation lieu {
display: block;
color: white;
font-weight: 600;
margin: 0 0 5% 40%;
}

formation niveau {
display: block;
color: white;
font-weight: 600;
margin: 0 0 0 50%;
}

competence {
display: block;
width: 75%;
height: 70%;
margin: auto;
}

competence section p:nth-child(1) {
font-size: 40px;
color: white;
}

competence section:nth-child(2) {
margin: 10% 0 0 5%;
background: linear-gradient(to bottom right, #ffcc66, #19194d);
width: 40%;
border-radius: 50px 15px;
}

langage {
display: block;
color: white;
font-weight: 600;
}

langage:nth-child(1) {
padding: 5% 0 0 0;
}

competence niveau {
color: white;
}

divers {
display: block;
width: 75%;
height: 50%;
margin: auto;
}

divers section p:nth-child(1) {
font-size: 40px;
color: white;
}